@charset "utf-8";

html { 
}


body {
  background: url('../images/home.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size:    cover;
  -o-background-size:      cover;
  background-size:         cover;
  padding-top:             50px;
}

a {
  color: grey;
}
.up-header {
  margin-top: -50px;
}

footer {
  margin-bottom: 0px;
  position: fixed;
  bottom:   0;
  left:     0;
  right:    0;
}

.copyright {
  line-height: 0;
  border:      100px;
}

.content {
 background-color: rgba(0, 0, 0, 0.5);
 margin-top:      50px;
}
