<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a href="https://www.kickstarter.com/projects/1093597147/interlaced-crossing-oceans-and-hoping-for-acceptan">
              <span class="fa-stack fa-lg">
                <%= image_tag "kickstarter.jpg", resize_to: '50x50', class: 'fa fa-inverse' %>
              </span>
            </a>
          </li>
          <li>
            <a href="https://vimeo.com/115084535">
              <span class="fa-stack fa-lg">
                <%= image_tag "vimeo.jpg", resize_to: '50x50', class: 'fa fa-inverse' %>
              </span>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/OceanXingDoc">
              <span class="fa-stack fa-lg">
                <%= image_tag "facebook.jpg", resize_to: '50x50', class: 'fa fa-inverse' %>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; Interlaced 2014</p>
      </div>
    </div>
  </div>
</footer>
