<footer>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-inline pull-left">
        <li>
          <a href="https://www.kickstarter.com/projects/1093597147/interlaced-crossing-oceans-and-hoping-for-acceptan" target="_blank">
            <%= image_tag "kickstarter.jpg", resize_to: '30x30' %>
          </a>
        </li>
        <li>
          <a href="https://vimeo.com/115084535" target="_blank">
            <%= image_tag "vimeo.jpg", resize_to: '30x30' %>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/OceanXingDoc" target="_blank">
            <%= image_tag "facebook.jpg", resize_to: '30x30' %>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12">
      <p class="copyright pull-left">Copyright &copy; Interlaced 2016</p>
    </div>
  </div>
</footer>
