<header class="intro-header up-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 content">
        <div class="site-heading">
          <h3>Matt Beardsley</h3>
          <hr class="small">
          <h3>Dave Kim</h3>
          <hr class="small">
          <h3>Tim Kim</h3>
          <hr class="small">
          <h3>Julie Moon</h3>
          <hr class="small">
        </div>
      </div>
    </div>
  </div>
</header>
