<header class="intro-header up-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 content">
        <div class="site-heading">
          <h3>Support Our Project</h3>
          <hr class="small">
          <p>Donations are made to Dave Kim</p>
          <a href="http://paypal.me/DKim161">Donate Link</a>
        </div>
      </div>
    </div>
  </div>
</header>
