
<header class="intro-header up-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 content">
        <div class="site-heading">
          <h3>synopsis</h3>
          <hr class="small">
          <h3>contact</h3>
          <hr class="small">
          Dave Kim: daveyoungkim@gmail.com
        </div>
      </div>
    </div>
  </div>
</header>
